<% USE loc %>
<table>
<% FOREACH doc IN all_accounts() %>
  <tr>
    <td>
      <form action="<% prefix %>/" method="GET" accept-charset="utf-8" class="ui-widget">
        <input type="submit" name="account" value="<% doc.account | html %>">
      </form>
    </td>
    <td><% doc.name | html %></td>
  </tr>
<% END %>
</table>
