<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title><% lh->loc('Portal') | html %></title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1><% lh->loc('Portal') | html %></h1>
<div id="menu"><% INCLUDE menu %></div>
<div id="account"><% INCLUDE AccountSelection %></div>
<div id="auth"><% INCLUDE UserAuthentication %></div>
<div id="content"><% content %></div>
<div id="footer"><% INCLUDE footer %></div>
</body>
</html>