<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head><% USE loc %>
<title><% | loc %>Portal<% END %></title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><% | loc %>Portal<% END %></h1>
<div id="header">
  <div id="menu"><% INCLUDE views/menu.tt %></div>
  <!-- LocaleSelection -->
  <div id="account"><% INCLUDE views/AccountSelection.tt %></div>
  <div id="auth"><% INCLUDE views/UserAuthentication.tt %></div>
</div>
<div id="content"><% content %></div>
<div id="footer"><% INCLUDE views/footer.tt %></div>
</body>
</html>