body {
    background-color: white;
    color: black;
}
.input {
    background-color: #eef;
}
.label {
    width: 10em;
    text-align: left;
}
.value {
    width: 15em;
}
.menu {
    padding-left: 10px;
}
th {
    font-weight: normal;
}
th.ccn_action {
    font-size: 80%;
}
td.ccn_action {
    border: 0;
    padding: 0;
}
th.ccn_report {
    padding: 2px;
    font-weight: bold;
}
td.ccn_report {
    text-align: right;
    border: 1px solid #ddd;
    padding: 1px;
    font-size: 80%;
}
table.ccn_report {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    padding: 1px;
}
