.plan-guard { width: 100px; height: 50px; padding: 0.1em; float: left; margin: 7px 7px 7px 0; }
.plan-action { width: 100px; height: 50px; padding: 0.1em; float: left; margin: 7px 7px 7px 0; }

#plan_toolbar {
  width: 40%;
  float: left;
  display: block;
}
#plan_workspace {
  width: 57%;
  float: right;
  display: block;
}