body {
    font-family: Lucida,sans-serif;
    color: black;
    background-color: white;
}

#content {
    color: #000;
    background-color: white;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

a {
    color: #222;
}

#footer {
    border-top: 1px solid #aba29c;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 10px;
    color: #ddd;
}


.menu {

}

.active {
    font-weight: bold;
}

#UserAuthentication {
    float: right;
}

#AccountSelection {
    float: right;
}

#LocaleSelection {
    float: right;
}

#mainmenu {
    float: left;
}

input {
    border: 1px solid black;
}

@import "menu.css";
