<% USE loc %>
<div class="manager">
  <fieldset><legend><% | loc %>Code for request <% params.request_type | html %><% END %></legend>
    <form action="/manager/<% params.request_type | uri %>" method="POST">
      <textarea name="code"><% result.code | html %></textarea>
      <input type="submit" />
    </form>
  </fieldset>
</div>
