<% USE loc %>
<div class="provisioning">
<% FOREACH row IN result.rows %>
  <div class="row">
    <% row.profile | loc %>
    <% FOREACH entry IN row %>
      <div class="entry">
        <% entry.key | loc %>: <% entry.value %>
      </div>
    <% END %>
  </div>
<% END %>
</div>