<% USE loc %>
<fieldset  class="ui-widget"><legend><% | loc %>Rating tables<% END %></legend>
  <ul>
  <% FOREACH t IN rating_tables %>
    <li><a href="?rating_table=<% t | html %>"><% t | html %></a></li>
  <% END %>
  </ul>
</form>
</fieldset>
<fieldset  class="ui-widget"><legend><% | loc %>Create new rating table<% END %></legend>
<a href="new"><%|loc%>Create new rating table<%END%></a>
</fieldset>