.active {
    font-weight: bold;
}

.ui-autocomplete-loading {
  background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
}

#mainmenu {
    float: left;
    display: inline;
}

#locale {
    float: right;
    height: 100%;
    display: inline;
}

#account {
    float: right;
    height: 100%;
    display: inline;
}

#auth {
    float: right;
    height: 100%;
    display: inline;
}

h1 {
    float: left;
    margin-left: 2em;
}

#content {
    clear: both;
}

#footer {
    clear: both;
}

input, select {
    border: 1px solid black;
    padding: 1px 2px 1px 2px;
}

#content label.left {
    width: 35%;
    float: left;
    text-align: right;
    margin-right: 2%;
    display: block;
}

#content label.required {
    font-weight: bold;
}

#content .submit input {
    margin-left: 37%;
}

/* Used by jquery.validate */
label.error {
    color:  red;
    background-color: white;
}

/* Used by request.tt to display sniffer traces */
.sniffer {
  padding: 1px;
}
div.sniffer {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: black;
  background-color: white;
}
div.sniffer form {
  display: inline;
}
div.sniffer input {
  border: none;
  padding: none;
  margin: none;
  background-color: transparent;
}
div.sip-request {
  margin-left: 5px;
}
div.sip-response {
  margin-left: 50px;
}
div.sip-changed {
  margin-top: 7px;
}
span.timestamp, span.callid {
  font-size: 9px;
}
span.ip {
  color: red;
}
span.method, span.status {
  color: blue;
}
span.from_addr, span.to_addr {
  color: #030;
}
div.completed {
  color: #030;
}
div.failed {
  color: #300;
}
div.status {
  display: inline;
  padding-left: 4em;
  padding-top: 4px;
}
div.activity {
  padding-left: 2em;
  padding-top: 4px;
}
.request .ui-icon {
  float: left;
}
.request {
  width: auto;
}
.request.progressbar {
  width: 200px;
  display: inline;
}

/* Reports */
.endpoint {
  border-color: blue;
}
.number {
  border-color: green;
}
.location {
  border-color: red;
}
.entry {
  margin-left: 20px;
}
.entry .key {
  font-weight: bold;
  display: inline-block;
  width: 35%;
}
.entry form {
  display: inline;
}

.view {
  background-color: white;
  color: black;
}