.active {
    font-weight: bold;
}

#UserAuthentication {
    float: right;
    height: 100%;
}

#AccountSelection {
    float: right;
    height: 100%;
}

#LocaleSelection {
    float: right;
    height: 100%;
}

h1 {
    float: left;
    margin-left: 2em;
}

#mainmenu {
    float: right;
}

#content {
    clear: both;
}

#footer {
    clear: both;
}

/* input, select {
    border: 1px solid black;
} */

#content label.left {
    width: 35%;
    float: left;
    text-align: right;
    margin-right: 2%;
    display: block;
}

#content label.required {
    font-weight: bold;
}

#content .submit input {
    margin-left: 37%;
}

/* Used by jquery.validate */
label.error {
    color:  red;
    background-color: white;
}

/* Used by request.tt to display sniffer traces */
.sniffer {
  padding: 1px;
}
div.sniffer {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: black;
  background-color: white;
}
div.sniffer form {
  display: inline;
}
div.sniffer input {
  border: none;
  padding: none;
  margin: none;
  background-color: transparent;
}
div.sip-request {
  margin-left: 5px;
}
div.sip-response {
  margin-left: 50px;
}
div.sip-changed {
  margin-top: 7px;
}
span.timestamp, span.callid {
  font-size: 9px;
}
span.ip {
  color: red;
}
span.method, span.status {
  color: blue;
}
span.from_addr, span.to_addr {
  color: #030;
}
div.completed {
  color: #030;
}
div.failed {
  color: #300;
}
div.status {
  display: inline;
}

/* Reports */
div.row {
  color: black;
  border: 2px solid #999;
  background-color: white;
}
div.row a {
  color: black;
}
div.row.endpoint {
  border-color: blue;
}
div.row.number {
  border-color: green;
}
div.row.location {
  border-color: red;
}
div.row .id  {
  font-weight: bold;
}
div.endpoint .id a {
  color: blue;
}
div.number .id a {
  color: green;
}
div.location .id a {
  color: red;
}
div.entry {
  margin-left: 20px;
}
div.entry .key {
  font-weight: bold;
}
div.row .entry a {
  color: black;
}
