route[10]
{
  # Silently drop "OPTIONS" (used by phones to ping the server).
  if(is_method("OPTIONS"))
  {
    sl_send_reply("405", "Method Not Allowed");
    exit;
  }

  # Group 1 is actually a list of black-listed IP addresses or blocks.
  if(allow_source_address("1"))
  {
    sl_send_reply("100", "Trying");
    sl_send_reply("503", "Service Unavailable");
    exit;
  }

  xlog("L_DBG","DEBUG -- Received from $si with flags $mf: $mb");

  # -----------------------------------------------------------------
  # Sanity Check Section
  # -----------------------------------------------------------------
  if (!mf_process_maxfwd_header("${MAX_HOPS}"))
  {
    xlog("L_DBG","DEBUG -- Too Many Hops: $rm From: $fu To: $tu");
    if( !is_method("ACK") )
    {
      sl_send_reply("483", "Too Many Hops");
    };
    exit;
  };

  if (msg:len > max_len)
  {
    xlog("L_DBG","INFO -- Message Overflow: $rm From: $fu To: $tu");
    if( !is_method("ACK") ) {
      sl_send_reply("513", "Message Overflow");
    };
    exit;
  };
}

