<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<% session.locale %>" xml:lang="<% session.locale %>">
<head><% USE loc %>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><% | loc %><% title || "Portal" %><% END %></title>
<link rel="stylesheet" type="text/css" href="<% prefix | uri %>/css/style.css" />
<link rel="stylesheet" type="text/css" href="<% prefix | uri %>/css/menu.css" />
<link rel="stylesheet" type="text/css" href="<% prefix | uri %>/css/plan.css" />
<!-- jquery + jquery.ui -->
<!-- local site -->
<link rel="stylesheet" type="text/css" href="<% prefix | uri %>/themes/css/<% theme %>/jquery-ui.css" />
<script type="text/javascript" src="<% prefix | uri %>/themes/js/jquery.js"></script>
<script type="text/javascript" src="<% prefix | uri %>/themes/js/jquery-ui.js"></script>
<!-- main package -->
<script type="text/javascript" src="<% prefix %>/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="<% prefix %>/js/forms.js"></script>
<!-- / jquery + jquery.ui -->
</head>
<body>
<div id="header" class="ui-widget-header">
  <h1><% | loc %><% title || "Portal" %><% END %></h1>
  <div style="clear: both; height: 0px;">&nbsp;</div>
</div>
<div id="taskbar" class="ui-widget">
  <div id="mainmenu"><% INCLUDE menu.tt %></div>
  <div id="locale"  ><% INCLUDE LocaleSelection.tt %></div>
  <div id="account" ><% INCLUDE AccountSelection.tt %></div>
  <div id="auth"    ><% INCLUDE UserAuthentication.tt %></div>
  <div class="ui-helper-clearfix">&nbsp;</div>
</div>
<% IF error %>
<div id="error" class="ui-widget">
  <div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em;">
    <p>
    <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
    <% error %>
    </p>
  </div>
</div>
<% END %>
<div id="content" class="ui-widget"><% content %></div>
<div id="footer"><% INCLUDE footer.tt %></div>
</body>
</html>