<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<% session.locale %>" xml:lang="<% session.locale %>">
<head><% USE loc %>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><% | loc %>Portal<% END %></title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<link rel="stylesheet" type="text/css" href="/css/plan.css" />
<!-- jquery + jquery.ui -->
<link rel="stylesheet" type="text/css" href="/themes/le-frog/jquery-ui.css" />
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/forms.js"></script>
<!-- / jquery + jquery.ui -->
</head>
<body>
<div id="header" class="ui-widget-header">
  <h1><% | loc %>Portal<% END %></h1>
  <div id="mainmenu"><% INCLUDE menu.tt %></div>
  <div style="clear: both; height: 0px;">&nbsp;</div>
</div>
<div id="taskbar" class="ui-widget-content">
  <div id="locale"><% INCLUDE LocaleSelection.tt %></div>
  <div id="account"><% INCLUDE AccountSelection.tt %></div>
  <div id="auth"><% INCLUDE UserAuthentication.tt %></div>
  <div style="clear: both; height: 0px;">&nbsp;</div>
</div>
<div id="content" class="ui-widget-content"><% content %></div>
<div id="footer"><% INCLUDE footer.tt %></div>
</body>
</html>